## **Bibliography**

**IA = Input Antara** \
Penggunaan berbagai barang dan jasa oleh suatu sektor dalam kegiatan produksi dari sektor-sektor lain, dan juga produksi sendiri. Barang-barang yang digunakan sebagai input antara biasanya habis sekali pakai, seperti bahan baku, bahan penolong dan sebagainya. 

**FD = Final Demand** \
k

## **Packages**

In [1]:
import pandas as pd
import numpy as np

from data import *

## **Data**

In [2]:
file_name = "data/Data.xlsx"
sheet_name = "IRIO-PDD (52x52)"

content = pd.read_excel(file_name, sheet_name, header=None, index_col=None, engine="openpyxl")

In [3]:
content.head(20)

,0,1,2,3,4,5,6,7,8,9,...,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953
0,NaN,Tabel Inter Regional Input-Output Indonesia Tr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Provinsi,Deskripsi,Kode,11. Aceh,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Permintaan Antara,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Pertanian Tanaman Pangan,"Pertanian Tanaman Hortikultura Semusim, Hortik...",Perkebunan Semusim dan Tahunan,Peternakan,Jasa Pertanian dan Perburuan,Kehutanan dan Penebangan Kayu,...,Konsumsi LNPRT,Konsumsi Pemerintah,Pembentukan Modal Tetap Bruto,Perubahan Inventori,Total Ekspor Antar Provinsi,Total Ekspor Luar Negeri,Total Ekspor,Total Permintaan Akhir,Total Permintaan,Total Output
5,NaN,NaN,NaN,NaN,I-01,I-02,I-03,I-04,I-05,I-06,...,3012,3020,3030,3041,3072,3071,3080,3090,3100,6000
6,NaN,11. Aceh,Pertanian Tanaman Pangan,I-01,333994.250234,0,0,107960.139323,0,0,...,0,0,0,221152.569342,0,0,0,641281.041047,7271146.069291,7271146.069291
7,NaN,NaN,"Pertanian Tanaman Hortikultura Semusim, Hortik...",I-02,0,195130.623265,0,57868.751547,0,0,...,0,0,178470.083155,-23023.323258,0,19672.435426,19672.435426,5366051.510057,7057897.900984,7057897.900984
8,NaN,NaN,Perkebunan Semusim dan Tahunan,I-03,0,0,820969.683293,5488.501569,0,0,...,0,0,3606600.643756,2465441.750457,0,124328.243194,124328.243194,6961974.971119,13922763.143793,13922763.143793
9,NaN,NaN,Peternakan,I-04,4511.646719,331519.237933,187871.168031,74117.653858,2762.270498,39531.559585,...,0,0,2095637.587806,-2740.176239,0,23.913587,23.913587,3212388.480657,6065319.77677,6065319.77677
10,NaN,NaN,Jasa Pertanian dan Perburuan,I-05,276291.599677,66321.742224,95764.600195,47367.315398,0,0,...,0,0,0,0,0,0,0,4320.784799,919196.611309,919196.611309
11,NaN,NaN,Kehutanan dan Penebangan Kayu,I-06,0,0,0,0,206.757177,73739.65057,...,0,0,0,-51116.24004,0,3240.286581,3240.286581,49839.099348,2401750.466357,2401750.466357
12,NaN,NaN,Perikanan,I-07,0,0,0,0,0,0,...,0,0,306207.581091,-51.554065,0,5202.559574,5202.559574,6575697.288991,8675716.092933,8675716.092933
13,NaN,NaN,"Pertambangan Minyak, Gas dan Panas Bumi",I-08,0,0,0,0,0,0,...,0,0,0,43141.186549,0,0,0,43141.186549,3196442.331388,3196442.331388
14,NaN,NaN,Pertambangan Batubara dan Lignit,I-09,0.992079,0.049142,1.17097,0.056534,0.061309,1.00853,...,0,0,8989.926604,-15794.54619,0,80660.247896,80660.247896,73862.376807,518331.121912,518331.121912
15,NaN,NaN,Pertambangan Bijih Logam,I-10,0,0,0,0,0,0,...,0,0,1552.656387,237.908584,0,42.514205,42.514205,1834.242199,332442.379099,332442.379099
16,NaN,NaN,Pertambangan dan Penggalian Lainnya,I-11,9.307082,0.558951,4.7219,3.803072,1.860447,3.603993,...,0.000027,0.014292,668631.329591,100580.921017,0,18278.775516,18278.775516,788080.508857,5213514.95695,5213514.95695
17,NaN,NaN,Industri Batubara dan Pengilangan Migas,I-12,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,NaN,NaN,Industri Makanan dan Minuman,I-13,3163.168434,1620.849704,8700.495012,534132.705201,27307.307715,1177.084442,...,0.423958,247900.488323,10666.268814,4950.140047,0,16365.138633,16365.138633,7802109.216904,12108595.549018,12108595.549018
19,NaN,NaN,Industri Pengolahan Tembakau,I-14,0.079423,0.004906,0.011388,0.046711,0.021644,0.004368,...,0,0,0.822692,2178.535648,0,0.33541,0.33541,88325.670215,92648.264271,92648.264271

## **Indexes**

In [4]:
n_prov = 34     # Jumlah provinsi
n_ind = 52      # jumlah industri/provinsi
n_fd = 5        # jumlah komponen Final Demand/provinsi
n_ntb = 3       # jumlah komponen NTB/provinsi

In [5]:
content.shape

(1783, 1954)

In [6]:
# indeks matriks permintaan/input antara
f_ia_row = 6    # 7 (7-1) 
f_ia_col = 4    # E (5-1)
l_ia_row = f_ia_row + n_prov*n_ind  # baris terakhir IA
l_ia_col = f_ia_col + n_prov*n_ind  # kolom terakhir IA

# indeks matriks Final demand
f_fd_row = 6
f_fd_col =l_ia_col + 1              # setelah semua matriks IA + 1 kolom total IA
l_fd_row = l_ia_row                 # sama dengan baris terakhir IA
l_fd_col = f_fd_col + n_prov*n_fd

# indeks matriks NTB
f_ntb_row = l_ia_row + 4            # 4 baris setelah baris terakhir IA
f_ntb_col =f_ia_col                 # sama dengan kolom IA
l_ntb_row = f_ntb_row + n_ntb
l_ntb_col = l_ia_col                # sama dengan kolom IA

# indeks vektor Final Demand Total
f_fdt_row = l_ia_row + 3            # sama dengan baris IA
f_fdt_col = f_fd_col             # sama dengan kolom FD
l_fdt_col = l_fd_col             # sama dengan kolom FD


# indeks vektor expor LN
f_xln_row = f_ia_row             # sama dengan baris IA
f_xln_col = l_fd_col + 6         # 6 kolom setelah kolom terakhir FD domestik
l_xln_row = l_ia_row             # sama dengan baris IA

# indeks vektor impor LN pada Input Antara
f_mln_ia_row = l_ia_row + 1         # 1 baris setelah baris terakhir IA
f_mln_ia_col = f_ia_col             # sama dengan kolom IA
l_mln_ia_col = l_ia_col             # sama dengan kolom IA

# indeks vektor impor LN pada FD
f_mln_fd_row = l_ia_row + 1         # 1 baris setelah baris terakhir IA
f_mln_fd_col = f_fd_col             # sama dengan kolom FD
l_mln_fd_col = l_fd_col             # sama dengan kolom FD

# indeks vektor impor AP pada Input Antara
f_map_ia_row = l_ia_row + 2         # 2 baris setelah baris terakhir IA
f_map_ia_col = f_ia_col             # sama dengan kolom IA
l_map_ia_col = l_ia_col             # sama dengan kolom IA

# indeks vektor impor AP pada FD
f_map_fd_row = l_ia_row + 2         # 2 baris setelah baris terakhir IA
f_map_fd_col = f_fd_col             # sama dengan kolom FD
l_map_fd_col = l_fd_col             # sama dengan kolom FD

In [7]:
# mengambil nama-nama provinsi/Industri/FD/dll

# mengambil kode dan nama provinsi
prov_dup = content.iloc[f_ia_row:l_ia_row, 1].dropna()
kode_prov = [x[:2] for x in prov_dup]
nama_prov = [x[4:] for x in prov_dup]

kode_prov_dup = np.repeat(kode_prov, n_ind, axis=0)
nama_prov_dup = np.repeat(nama_prov, n_ind, axis=0)

prov = pd.DataFrame({"kode_prov" : kode_prov, "nama_prov" : nama_prov})
prov

   kode_prov             nama_prov
0         11                  Aceh
1         12        Sumatera Utara
2         13        Sumatera Barat
3         14                  Riau
4         15                 Jambi
5         16      Sumatera Selatan
6         17              Bengkulu
7         18               Lampung
8         19  Kep. Bangka Belitung
9         21             Kep. Riau
10        31           DKI Jakarta
11        32            Jawa Barat
12        33           Jawa Tengah
13        34         DI Yogyakarta
14        35            Jawa Timur
15        36                Banten
16        51                  Bali
17        52   Nusa Tenggara Barat
18        53   Nusa Tenggara Timur
19        61      Kalimantan Barat
20        62     Kalimantan Tengah
21        63    Kalimantan Selatan
22        64      Kalimantan Timur
23        65      Kalimantan Utara
24        71        Sulawesi Utara
25        72       Sulawesi Tengah
26        73      Sulawesi Selatan
27        74     Sulawesi Tenggara
28        75             Gorontalo
29        76        Sulawesi Barat
30        81                Maluku
31        82          Maluku Utara
32        91           Papua Barat
33        94                 Papua

In [8]:
# mengambil Kode dan Nama Industri
kode_ind_dup = content.iloc[f_ia_row:l_ia_row, 3]
nama_ind_dup = content.iloc[f_ia_row:l_ia_row, 2]

kode_ind = kode_ind_dup.unique()
nama_ind = nama_ind_dup.unique()
ind = pd.DataFrame({"kode_ind" : kode_ind, "nama_ind" : nama_ind})
ind

   kode_ind                                           nama_ind
0      I-01                          Pertanian Tanaman Pangan
1      I-02  Pertanian Tanaman Hortikultura Semusim, Hortik...
2      I-03                     Perkebunan Semusim dan Tahunan
3      I-04                                        Peternakan
4      I-05                     Jasa Pertanian dan Perburuan
5      I-06                      Kehutanan dan Penebangan Kayu
6      I-07                                         Perikanan
7      I-08            Pertambangan Minyak, Gas dan Panas Bumi
8      I-09                   Pertambangan Batubara dan Lignit
9      I-10                           Pertambangan Bijih Logam
10     I-11                Pertambangan dan Penggalian Lainnya
11     I-12            Industri Batubara dan Pengilangan Migas
12     I-13                      Industri Makanan dan Minuman
13     I-14                       Industri Pengolahan Tembakau
14     I-15                  Industri Tekstil dan Pakaian Jadi
15     I-16   Industri Kulit, Barang dari Kulit dan Alas Kaki
16     I-17  Industri Kayu, Barang dari Kayu dan Gabus dan ...
17     I-18  Industri Kertas dan Barang dari Kertas, Percet...
18     I-19       Industri Kimia, Farmasi dan Obat Tradisional
19     I-20      Industri Karet, Barang dari Karet dan Plastik
20     I-21                 Industri Barang Galian bukan Logam
21     I-22                              Industri Logam Dasar
22     I-23  Industri Barang dari Logam, Komputer, Barang E...
23     I-24               Industri Mesin dan Perlengkapan YTDL
24     I-25                             Industri Alat Angkutan
25     I-26                                  Industri Furnitur
26     I-27  Industri Pengolahan Lainnya, Jasa Reparasi dan...
27     I-28                                 Ketenagalistrikan
28     I-29                      Pengadaan Gas dan Produksi Es
29     I-30  Pengadaan Air, Pengelolaan Sampah, Limbah, dan...
30     I-31                                         Konstruksi
31     I-32    Perdagangan Mobil, Sepeda Motor dan Reparasinya
32     I-33  Perdagangan Besar dan Eceran, Bukan Mobil dan ...
33     I-34                                      Angkutan Rel
34     I-35                                     Angkutan Darat
35     I-36                                     Angkutan Laut
36     I-37            Angkutan Sungai Danau dan Penyeberangan
37     I-38                                     Angkutan Udara
38     I-39  Pergudangan dan Jasa Penunjang Angkutan, Pos d...
39     I-40                              Penyediaan Akomodasi
40     I-41                             Penyediaan Makan Minum
41     I-42                      Jasa Informasi dan Komunikasi
42     I-43        Jasa Perantara Keuangan Selain Bank Sentral
43     I-44                          Asuransi dan Dana Pensiun
44     I-45                              Jasa Keuangan Lainnya
45     I-46                            Jasa Penunjang Keuangan
46     I-47                                        Real Estate
47     I-48                                    Jasa Perusahaan
48     I-49  Administrasi Pemerintahan, Pertahanan dan Jami...
49     I-50                                    Jasa Pendidikan
50     I-51                 Jasa Kesehatan dan Kegiatan Sosial
51     I-52                                       Jasa Lainnya

In [9]:
# mengambil kode dan Nama Komponen FD
kode_fd_dup = content.iloc[5, f_fd_col:l_fd_col]
nama_fd_dup = content.iloc[4, f_fd_col:l_fd_col]

kode_fd = kode_fd_dup.unique()
nama_fd = nama_fd_dup.unique()

komp_fd = pd.DataFrame({"kode_fd" : kode_fd, "nama_fd" : nama_fd})
komp_fd

  kode_fd                        nama_fd
0    3011          Konsumsi Rumah Tangga
1    3012                 Konsumsi LNPRT
2    3020            Konsumsi Pemerintah
3    3030  Pembentukan Modal Tetap Bruto
4    3041            Perubahan Inventori

In [10]:
# Komponen NTB
kode_ntb = content.iloc[f_ntb_row:l_ntb_row, 3]
nama_ntb = content.iloc[f_ntb_row:l_ntb_row, 1]

kode_ntb_dup = list(kode_ntb.values)*n_prov
nama_ntb_dup = list(nama_ntb.values)*n_prov

komp_ntb = pd.DataFrame({"kode_ntb" : kode_ntb, "nama_ntb" : nama_ntb})
komp_ntb

     kode_ntb                                           nama_ntb
1778     2010                            Kompensasi Tenaga Kerja
1779     2020  Surplus Usaha (termasuk pendapatan campuran) B...
1780     2045                   Pajak Neto Subsidi Atas Produksi

## **Dataset PDRB**

**MENGAMBIL DATA PDRB PENDAPATAN MENURUT PROVINSI DAN INDUSTRI**

In [11]:
data_pdrb = pd.DataFrame(columns=["kode_prov", "nama_prov", "jenis_pdrb", "kode_komp", "nama_komp", "nilai_jt"])

# PDRB INDUSTRI
TOT_NTB_IND_BY_PROV = content.iloc[l_ia_row + 7, f_ia_col:l_ia_col]

data_ind = pd.DataFrame({"kode_prov"    : kode_prov_dup,
                         "nama_prov"    : nama_prov_dup,
                         "jenis_pdrb"   : "PRODUKSI",
                         "kode_komp"    : kode_ind_dup,
                         "nama_komp"    : nama_ind_dup,
                         "nilai_jt"     : TOT_NTB_IND_BY_PROV.values})


# Menyimpan data pada variabel data_pdrb
data_pdrb = pd.concat([data_pdrb, data_ind], axis=0)
data_pdrb

,kode_prov,nama_prov,jenis_pdrb,kode_komp,nama_komp,nilai_jt
6,11,Aceh,PRODUKSI,I-01,Pertanian Tanaman Pangan,5870077.532341
7,11,Aceh,PRODUKSI,I-02,"Pertanian Tanaman Hortikultura Semusim, Hortik...",5883898.8695
8,11,Aceh,PRODUKSI,I-03,Perkebunan Semusim dan Tahunan,10247247.968196
9,11,Aceh,PRODUKSI,I-04,Peternakan,4150957.827013
10,11,Aceh,PRODUKSI,I-05,Jasa Pertanian dan Perburuan,726496.821323
...,...,...,...,...,...,...
1769,94,Papua,PRODUKSI,I-48,Jasa Perusahaan,1968670.930658
1770,94,Papua,PRODUKSI,I-49,"Administrasi Pemerintahan, Pertahanan dan Jami...",14775106.184412
1771,94,Papua,PRODUKSI,I-50,Jasa Pendidikan,4094046.534573
1772,94,Papua,PRODUKSI,I-51,Jasa Kesehatan dan Kegiatan Sosial,1838407.913364
1773,94,Papua,PRODUKSI,I-52,Jasa Lainnya,2839379.499556

**MENGAMBIL DATA PDRB PENDAPATAN MENURUT PROVINSI DAN KOMPONEN PENGELUARAN**

In [12]:
PENGELUARAN = "PENGELUARAN"

FDT_BY_PROV = content.iloc[f_fdt_row, f_fdt_col:l_fdt_col]

data_fd_dom = pd.DataFrame({"kode_prov": [x for x in kode_prov for y in range(0, n_fd)],
                            "nama_prov": [x for x in nama_prov for y in range(0, n_fd)],
                            "jenis_pdrb": "PENGELUARAN",
                            "kode_komp": kode_fd_dup,
                            "nama_komp": nama_fd_dup,
                            "nilai_jt": FDT_BY_PROV.values})

data_pdrb2 = pd.concat([data_pdrb, data_fd_dom], axis=0)  # Menambah data pada variabel data_pdrb
data_pdrb2

,kode_prov,nama_prov,jenis_pdrb,kode_komp,nama_komp,nilai_jt
6,11,Aceh,PRODUKSI,I-01,Pertanian Tanaman Pangan,5870077.532341
7,11,Aceh,PRODUKSI,I-02,"Pertanian Tanaman Hortikultura Semusim, Hortik...",5883898.8695
8,11,Aceh,PRODUKSI,I-03,Perkebunan Semusim dan Tahunan,10247247.968196
9,11,Aceh,PRODUKSI,I-04,Peternakan,4150957.827013
10,11,Aceh,PRODUKSI,I-05,Jasa Pertanian dan Perburuan,726496.821323
...,...,...,...,...,...,...
1938,94,Papua,PENGELUARAN,3011,Konsumsi Rumah Tangga,73706458.03486
1939,94,Papua,PENGELUARAN,3012,Konsumsi LNPRT,3012455.266981
1940,94,Papua,PENGELUARAN,3020,Konsumsi Pemerintah,37111738.647964
1941,94,Papua,PENGELUARAN,3030,Pembentukan Modal Tetap Bruto,53950587.300478
1942,94,Papua,PENGELUARAN,3041,Perubahan Inventori,-910310.032845

**MENGAMBIL KOMPONEN EKSPOR-IMPOR LUAR NEGERI DAN ANTAR PROVINSI**

In [13]:
IA = content.iloc[f_ia_row:l_ia_row, f_ia_col:l_ia_col]  # Matriks IA lengkap
IA.index = kode_prov_dup
IA.columns = kode_prov_dup

FD = content.iloc[f_fd_row:l_fd_row, f_fd_col:l_fd_col]  # Matriks IA lengkap
FD.index = kode_prov_dup
FD.columns = [x for x in kode_prov for y in range(0, n_fd)]

### Fungsi untuk menjumlahkan setiap kolom PA kecuali sub-matriks diagonalnya
### Jika provinsi pada Kolom = Provinsi pada Baris maka tidak dijumlahkan

IA_PART = IA.loc[IA.index == "11", IA.columns != "11"]
X_IA_AP = IA_PART.sum().sum()

FD_PART = FD.loc[FD.index == "11", FD.columns != "11"]
X_FD_AP = FD_PART.sum().sum()

X_IA_AP+X_FD_AP

31991520.34221484

In [14]:
# BAGIAN YANG RUMIT KARENA POSISINYA PADA TABEL BERPENCAR DAN PERLU BEBERAPA PROSES YANG BERBEDA SATU SAMA LAIN

#============================================================================================================#
#== EKSPOR LN ==#
#============================================================================================================#

kode_xln = "3071"                   # Hardcoding saja (hanya satu klasifikasi)
nama_xln = "Ekspor Luar Negeri"     # Hardcoding saja (hanya satu klasifikasi)

EX_LN_BY_PROV = content.iloc[f_xln_row:l_xln_row, f_xln_col]

data_xln = pd.DataFrame({"kode_prov": kode_prov_dup, "nilai_jt": EX_LN_BY_PROV.values})

data_xln = data_xln.groupby("kode_prov").agg({"nilai_jt": "sum"}).reset_index()

data_xln["nama_prov"] = nama_prov
data_xln["jenis_pdrb"] = PENGELUARAN
data_xln["kode_komp"] = kode_xln
data_xln["nama_komp"] = nama_xln

data_pdrb = pd.concat([data_pdrb, data_xln], axis=0)  # Menambah data pada variabel data_pdrb

#============================================================================================================#
#== EKSPOR AP ==#
#============================================================================================================#

### Bagian slicing dan summmation yang agak tricky untuk penghitungan dari IRIO
### secara baris...menjumlahkan setiap kolom kecuali pada setiap submatriks diagonal [34*52] dan [34*4]
### karena pada setiap sub-matriks  diagonal [34*52] menunjukkan transaksi domestik, sisanya adalah ekspor-impor AP
### untuk impor : kebetulan di baris denganw kode "2001" sudah ditotalkan

### Bagian EKSPOR pada IA dan FD
IA = content.iloc[f_ia_row:l_ia_row, f_ia_col:l_ia_col]  # Matriks IA lengkap
IA.index = kode_prov_dup
IA.columns = kode_prov_dup

FD = content.iloc[f_fd_row:l_fd_row, f_fd_col:l_fd_col]  # Matriks IA lengkap
FD.index = kode_prov_dup
FD.columns = [x for x in kode_prov for y in range(0, n_fd)]

### Fungsi untuk menjumlahkan setiap kolom PA kecuali sub-matriks diagonalnya
### Jika provinsi pada Kolom = Provinsi pada Baris maka tidak dijumlahkan

def sum_ekspor_ap(kode_prov):
    IA_PART = IA.loc[IA.index == kode_prov, IA.columns != kode_prov]
    X_IA_AP = IA_PART.sum().sum()           # menjumlahkan seluruh data, baris dan kolom

    FD_PART = FD.loc[FD.index == kode_prov, FD.columns != kode_prov]
    X_FD_AP = FD_PART.sum().sum()           # menjumlahkan seluruh data, baris dan kolom

    return X_IA_AP + X_FD_AP


### Apply fungsi sum_ekspor_ap untuk setiap provinsi
data_x_ap = [sum_ekspor_ap(kode) for kode in kode_prov]

kode_xap = "3072"                      # Hardcoding saja (hanya satu klasifikasi)
nama_xap = "Ekspor Antar Provinsi"     # Hardcoding saja (hanya satu klasifikasi)

data_x_ap = pd.DataFrame({
                            "kode_prov" : kode_prov,
                            "nama_prov" : nama_prov,
                            "jenis_pdrb": PENGELUARAN,
                            "kode_komp" : kode_xap,
                            "nama_komp" : nama_xap,
                            "nilai_jt"  : data_x_ap
                        })

data_pdrb = pd.concat([data_pdrb, data_x_ap], axis=0)  # Menambah data pada variabel data_pdrb
#============================================================================================================#



#============================================================================================================#
#== IMPOR LN ==#
#============================================================================================================#

kode_mln = "2000"                   # Hardcoding saja (hanya satu klasifikasi)
nama_mln = "Impor Luar Negeri"     # Hardcoding saja (hanya satu klasifikasi)

### Harus menghitung Impor LN pada sisi input Antara dan Impor LN pada sisi FD
IM_LN_IA_BY_PROV = content.iloc[f_mln_ia_row, f_mln_ia_col:l_mln_ia_col]   # Impor LN sisi IA

data_iln_ia = pd.DataFrame({"kode_prov": kode_prov_dup, "nilai_jt": IM_LN_IA_BY_PROV.values})

data_iln_ia = data_iln_ia.groupby("kode_prov").agg({"nilai_jt": "sum"}).reset_index()

IM_LN_FD_BY_PROV = content.iloc[f_mln_fd_row, f_mln_fd_col:l_mln_fd_col]   # Impor LN sisi FD

data_iln_fd = pd.DataFrame({"kode_prov": [x for x in kode_prov for y in range(0, n_fd)], "nilai_jt": IM_LN_FD_BY_PROV.values})

data_iln_fd = data_iln_fd.groupby("kode_prov").agg({"nilai_jt": "sum"}).reset_index()

### Karena jumlah dan urutan indeks sudah pasti sama jumlahkan secara langsung saja antara Impor LN pada sisi IA dan FD
tot_iln = data_iln_fd[["nilai_jt"]].values + data_iln_ia[["nilai_jt"]].values

tot_iln = np.array(tot_iln).flatten()*-1    # Impor merupakan komponen pengurang (untuk kemudahan agregasi maka dinegatifkan saja)

data_iln = pd.DataFrame({"kode_prov": kode_prov,
                         "nama_prov": nama_prov ,
                         "jenis_pdrb": PENGELUARAN,
                         "kode_komp": kode_mln,
                         "nama_komp": nama_mln,
                         "nilai_jt": tot_iln})

data_pdrb = pd.concat([data_pdrb, data_iln], axis=0)  # Menambah data pada variabel data_pdrb

#============================================================================================================#



#============================================================================================================#
#== IMPOR AP ==#
#============================================================================================================#

kode_map = "2001"                     # Hardcoding saja (hanya satu klasifikasi)
nama_map = "Impor Antar Provinsi"     # Hardcoding saja (hanya satu klasifikasi)

### Harus menghitung Impor LN pada sisi input Antara dan Impor LN pada sisi FD
IM_AP_IA_BY_PROV = content.iloc[f_map_ia_row, f_map_ia_col:l_map_ia_col]   # Impor AP sisi IA

data_map_ia = pd.DataFrame({"kode_prov": kode_prov_dup, "nilai_jt": IM_AP_IA_BY_PROV.values})

data_map_ia = data_map_ia.groupby("kode_prov").agg({"nilai_jt": "sum"}).reset_index()

IM_AP_FD_BY_PROV = content.iloc[f_map_fd_row, f_map_fd_col:l_map_fd_col]   # Impor AP sisi FD

data_map_fd = pd.DataFrame({"kode_prov": [x for x in kode_prov for y in range(0, n_fd)],
                            "nilai_jt": IM_AP_FD_BY_PROV.values})

data_map_fd = data_map_fd.groupby("kode_prov").agg({"nilai_jt": "sum"}).reset_index()

### Karena jumlah dan urutan indeks sudah pasti sama jumlahkan secara langsung saja antara Impor AP pada sisi IA dan FD
tot_map = data_map_fd[["nilai_jt"]].values + data_map_ia[["nilai_jt"]].values

tot_map = np.array(tot_map).flatten()*-1  # Impor merupakan komponen pengurang (untuk kemudahan agregasi maka dinegatifkan saja)

data_map = pd.DataFrame({"kode_prov": kode_prov,
                         "nama_prov": nama_prov ,
                         "jenis_pdrb": PENGELUARAN,
                         "kode_komp": kode_map,
                         "nama_komp": nama_map,
                         "nilai_jt": tot_map})

data_pdrb = pd.concat([data_pdrb, data_map], axis=0)  # Menambah data pada variabel data_pdrb

#============================================================================================================#

**MENGAMBIL DATA PDRB PENDAPATAN MENURUT PROVINSI DAN KOMPONEN NTB**

In [15]:
# PDRB PENDAPATAN
NTB_INC_BY_PROV = content.iloc[f_ntb_row:l_ntb_row, f_ntb_col:l_ntb_col]

## Ganti kolom menjadi nama provinsi
NTB_INC_BY_PROV.columns = kode_prov_dup
NTB_INC_BY_PROV["kode_komp"] = kode_ntb
NTB_INC_BY_PROV["nama_komp"] = nama_ntb
NTB_INC_BY_PROV["jenis_pdrb"] = "PENDAPATAN"

## Transformasi WIDE menjadi LONG
NTB_INC_BY_PROV = pd.melt(NTB_INC_BY_PROV, id_vars=['kode_komp', 'nama_komp', 'jenis_pdrb'],
                  value_vars=kode_prov_dup,
                  var_name='kode_prov',
                  value_name='nilai_jt')

# Agregasi nilai  menurut provinsi dan komponen NTB
NTB_INC_BY_PROV = NTB_INC_BY_PROV.groupby(["kode_prov", "kode_komp", "nama_komp", "jenis_pdrb"]). \
    agg({"nilai_jt" : "sum"}).reset_index()

NTB_INC_BY_PROV["nama_prov"] = [x for x in nama_prov for y in range(0, n_ntb) ]

# Tambahkan pada variabel data_pdrb
data_pdrb3 = pd.concat([data_pdrb2, NTB_INC_BY_PROV], axis=0)

In [16]:
data_pdrb3

,kode_prov,nama_prov,jenis_pdrb,kode_komp,nama_komp,nilai_jt
6,11,Aceh,PRODUKSI,I-01,Pertanian Tanaman Pangan,5870077.532341
7,11,Aceh,PRODUKSI,I-02,"Pertanian Tanaman Hortikultura Semusim, Hortik...",5883898.8695
8,11,Aceh,PRODUKSI,I-03,Perkebunan Semusim dan Tahunan,10247247.968196
9,11,Aceh,PRODUKSI,I-04,Peternakan,4150957.827013
10,11,Aceh,PRODUKSI,I-05,Jasa Pertanian dan Perburuan,726496.821323
...,...,...,...,...,...,...
97,91,Papua Barat,PENDAPATAN,2020,Surplus Usaha (termasuk pendapatan campuran) B...,46985494.490379
98,91,Papua Barat,PENDAPATAN,2045,Pajak Neto Subsidi Atas Produksi,-1693585.597772
99,94,Papua,PENDAPATAN,2010,Kompensasi Tenaga Kerja,42462090.892243
100,94,Papua,PENDAPATAN,2020,Surplus Usaha (termasuk pendapatan campuran) B...,103085450.738838
101,94,Papua,PENDAPATAN,2045,Pajak Neto Subsidi Atas Produksi,816537.82502

In [17]:
# CHECK : nilai PDRB Total berdasarkan 3 Pendekatan sudah sesuai dan nilai ketiganya sama
data_pdrb3.groupby(["jenis_pdrb"]).agg({"nilai_jt": "sum"})

                       nilai_jt
jenis_pdrb
PENDAPATAN   12645817838.407934
PENGELUARAN  12580754492.754873
PRODUKSI     12645817838.407909

In [18]:
# CHECk : PDRB berdasarkan 3 pendekatan nilainya sama baik level nasional maupun per provinsi
# berbedaan belakang koma karena faktor pembulatan saja

data_pdrb3.groupby(["kode_prov", "jenis_pdrb"]).agg({"nilai_jt": "sum"})

                               nilai_jt
kode_prov jenis_pdrb
11        PENDAPATAN   134554529.480085
          PENGELUARAN  180528938.116437
          PRODUKSI     134554529.480085
12        PENDAPATAN   558988617.035108
          PENGELUARAN  579139778.280125
...                                 ...
91        PENGELUARAN   51554268.896638
          PRODUKSI      67862465.154667
94        PENDAPATAN   146364079.456101
          PENGELUARAN  166870929.217437
          PRODUKSI     146364079.456101

[102 rows x 1 columns]

In [19]:
# CHECK : Ekspor IMPOR antar wilayah secara agregat harus sama (berbeda tanda)
data_pdrb3[data_pdrb3["jenis_pdrb"]=="PENGELUARAN"].groupby("nama_komp").agg({"nilai_jt": "sum"})

                                        nilai_jt
nama_komp
Konsumsi LNPRT                  144944697.746068
Konsumsi Pemerintah             1094181417.38914
Konsumsi Rumah Tangga          7119909001.632966
Pembentukan Modal Tetap Bruto  4139130416.986309
Perubahan Inventori              82588959.000381

In [20]:
data_pdrb3.to_csv("data_pdrb.csv", index=False)

In [21]:
data_pdrb3.loc[data_pdrb3['jenis_pdrb'].isin(['PENDAPATAN'])]['nama_komp'].unique()

array(['Kompensasi Tenaga Kerja',
       'Surplus Usaha (termasuk pendapatan campuran) Bruto',
       'Pajak Neto Subsidi Atas Produksi'], dtype=object)

## **Full Table**

In [22]:
content

,0,1,2,3,4,5,6,7,8,9,...,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953
0,NaN,Tabel Inter Regional Input-Output Indonesia Tr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Provinsi,Deskripsi,Kode,11. Aceh,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Permintaan Antara,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,Pertanian Tanaman Pangan,"Pertanian Tanaman Hortikultura Semusim, Hortik...",Perkebunan Semusim dan Tahunan,Peternakan,Jasa Pertanian dan Perburuan,Kehutanan dan Penebangan Kayu,...,Konsumsi LNPRT,Konsumsi Pemerintah,Pembentukan Modal Tetap Bruto,Perubahan Inventori,Total Ekspor Antar Provinsi,Total Ekspor Luar Negeri,Total Ekspor,Total Permintaan Akhir,Total Permintaan,Total Output
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1778,NaN,Kompensasi Tenaga Kerja,NaN,2010,2434272.846038,2849020.715962,4550449.076936,1830004.724257,348516.544017,873349.158846,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1779,NaN,Surplus Usaha (termasuk pendapatan campuran) B...,NaN,2020,3403962.448337,2978123.123581,5632590.767911,2320407.398234,374754.35405,1119265.642707,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1780,NaN,Pajak Neto Subsidi Atas Produksi,NaN,2045,31842.237966,56755.029957,64208.123349,545.704522,3225.923257,6971.808639,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1781,NaN,Nilai Tambah Bruto,NaN,2090,5870077.532341,5883898.8695,10247247.968196,4150957.827013,726496.821323,1999586.610192,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1782,NaN,Total Input,NaN,2100,7271146.067797,7057897.899909,13922763.140461,6065319.775511,919196.61117,2401750.465914,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
production = content.iloc[f_ia_row:l_ia_row, f_ia_col:l_ia_col]
consumption = content.iloc[f_fd_row:l_fd_row, f_fd_col:l_fd_col]
primaey_uses = content.iloc[f_fd_row:l_fd_row, f_fd_col:l_fd_col]

In [24]:
production.iloc[:,0]

6       333994.250234
7                   0
8                   0
9         4511.646719
10      276291.599677
            ...
1769         0.027602
1770                0
1771         0.000012
1772         0.001065
1773         0.030077
Name: 4, Length: 1768, dtype: object

In [25]:
production2 = production.iloc[:,0]
for i in range(1, len(production.columns)):
    production2 = pd.concat([production2, production.iloc[:,i]], axis=0)
production2

6       333994.250234
7                   0
8                   0
9         4511.646719
10      276291.599677
            ...
1769     12516.654111
1770      4028.773741
1771      1290.790628
1772     10862.249973
1773    102293.115105
Length: 3125824, dtype: object

In [26]:
a = nama_prov
b = nama_ind

In [27]:
col1 = np.tile(np.tile(np.repeat(a, len(b), axis=0), len(b)), len(a))
col1

array(['Aceh', 'Aceh', 'Aceh', ..., 'Papua', 'Papua', 'Papua'],
      dtype='<U20')

In [28]:
col2 = np.tile(np.tile(np.tile(b, len(a)), len(b)), len(a))
col2

array(['Pertanian Tanaman Pangan ',
       'Pertanian Tanaman Hortikultura Semusim, Hortikultura Tahunan, dan Lainnya',
       'Perkebunan Semusim dan Tahunan', ..., 'Jasa Pendidikan',
       'Jasa Kesehatan dan Kegiatan Sosial', 'Jasa Lainnya'], dtype=object)

In [29]:
col3 = np.repeat(a, len(b)*len(a)*len(b), axis=0)
col3

array(['Aceh', 'Aceh', 'Aceh', ..., 'Papua', 'Papua', 'Papua'],
      dtype='<U20')

In [30]:
col4 = np.tile(np.repeat(b, len(b)*len(a)), len(a))
col4

array(['Pertanian Tanaman Pangan ', 'Pertanian Tanaman Pangan ',
       'Pertanian Tanaman Pangan ', ..., 'Jasa Lainnya', 'Jasa Lainnya',
       'Jasa Lainnya'], dtype=object)

In [31]:
matriks_produksi = pd.DataFrame({"input_prov": col1,
                            "output_prov": col3,
                            "jenis_pdrb": "PRODUKSI",
                            "input_komp": col2,
                            "output_komp": col4,
                            "nilai_jt": production2})
matriks_produksi.head(20)

,input_prov,output_prov,jenis_pdrb,input_komp,output_komp,nilai_jt
6,Aceh,Aceh,PRODUKSI,Pertanian Tanaman Pangan,Pertanian Tanaman Pangan,333994.250234
7,Aceh,Aceh,PRODUKSI,"Pertanian Tanaman Hortikultura Semusim, Hortik...",Pertanian Tanaman Pangan,0
8,Aceh,Aceh,PRODUKSI,Perkebunan Semusim dan Tahunan,Pertanian Tanaman Pangan,0
9,Aceh,Aceh,PRODUKSI,Peternakan,Pertanian Tanaman Pangan,4511.646719
10,Aceh,Aceh,PRODUKSI,Jasa Pertanian dan Perburuan,Pertanian Tanaman Pangan,276291.599677
11,Aceh,Aceh,PRODUKSI,Kehutanan dan Penebangan Kayu,Pertanian Tanaman Pangan,0
12,Aceh,Aceh,PRODUKSI,Perikanan,Pertanian Tanaman Pangan,0
13,Aceh,Aceh,PRODUKSI,"Pertambangan Minyak, Gas dan Panas Bumi",Pertanian Tanaman Pangan,0
14,Aceh,Aceh,PRODUKSI,Pertambangan Batubara dan Lignit,Pertanian Tanaman Pangan,0.992079
15,Aceh,Aceh,PRODUKSI,Pertambangan Bijih Logam,Pertanian Tanaman Pangan,0
16,Aceh,Aceh,PRODUKSI,Pertambangan dan Penggalian Lainnya,Pertanian Tanaman Pangan,9.307082
17,Aceh,Aceh,PRODUKSI,Industri Batubara dan Pengilangan Migas,Pertanian Tanaman Pangan,0
18,Aceh,Aceh,PRODUKSI,Industri Makanan dan Minuman,Pertanian Tanaman Pangan,3163.168434
19,Aceh,Aceh,PRODUKSI,Industri Pengolahan Tembakau,Pertanian Tanaman Pangan,0.079423
20,Aceh,Aceh,PRODUKSI,Industri Tekstil dan Pakaian Jadi,Pertanian Tanaman Pangan,0
21,Aceh,Aceh,PRODUKSI,"Industri Kulit, Barang dari Kulit dan Alas Kaki",Pertanian Tanaman Pangan,0
22,Aceh,Aceh,PRODUKSI,"Industri Kayu, Barang dari Kayu dan Gabus dan ...",Pertanian Tanaman Pangan,20.644021
23,Aceh,Aceh,PRODUKSI,"Industri Kertas dan Barang dari Kertas, Percet...",Pertanian Tanaman Pangan,12.750307
24,Aceh,Aceh,PRODUKSI,"Industri Kimia, Farmasi dan Obat Tradisional",Pertanian Tanaman Pangan,191518.354099
25,Aceh,Aceh,PRODUKSI,"Industri Karet, Barang dari Karet dan Plastik",Pertanian Tanaman Pangan,456.020626

In [32]:
matriks_produksi.to_csv("matriks_produksi.csv")

## **Plots with Plotly**

In [3]:
import pandas as pd
df_pdrb = pd.read_csv("data/data_pdrb.csv", sep = ",")

In [4]:
df_pdrb

,kode_prov,nama_prov,jenis_pdrb,kode_komp,nama_komp,nilai_jt
0,11,Aceh,PRODUKSI,I-01,Pertanian Tanaman Pangan,5.870078e+06
1,11,Aceh,PRODUKSI,I-02,"Pertanian Tanaman Hortikultura Semusim, Hortik...",5.883899e+06
2,11,Aceh,PRODUKSI,I-03,Perkebunan Semusim dan Tahunan,1.024725e+07
3,11,Aceh,PRODUKSI,I-04,Peternakan,4.150958e+06
4,11,Aceh,PRODUKSI,I-05,Jasa Pertanian dan Perburuan,7.264968e+05
...,...,...,...,...,...,...
2035,91,Papua Barat,PENDAPATAN,2020,Surplus Usaha (termasuk pendapatan campuran) B...,4.698549e+07
2036,91,Papua Barat,PENDAPATAN,2045,Pajak Neto Subsidi Atas Produksi,-1.693586e+06
2037,94,Papua,PENDAPATAN,2010,Kompensasi Tenaga Kerja,4.246209e+07
2038,94,Papua,PENDAPATAN,2020,Surplus Usaha (termasuk pendapatan campuran) B...,1.030855e+08
2039,94,Papua,PENDAPATAN,2045,Pajak Neto Subsidi Atas Produksi,8.165378e+05

In [35]:
data1 = df_pdrb[df_pdrb['jenis_pdrb'] == 'PENDAPATAN'][df_pdrb['nama_prov'].isin(nama_prov)][df_pdrb['nama_komp'].isin(nama_ntb)]

/var/folders/fc/9dfyqjt13ks879g0zmsg9b2h0000gp/T/ipykernel_23754/566920732.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data1 = df_pdrb[df_pdrb['jenis_pdrb'] == 'PENDAPATAN'][df_pdrb['nama_prov'].isin(nama_prov)][df_pdrb['nama_komp'].isin(nama_ntb)]
/var/folders/fc/9dfyqjt13ks879g0zmsg9b2h0000gp/T/ipykernel_23754/566920732.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data1 = df_pdrb[df_pdrb['jenis_pdrb'] == 'PENDAPATAN'][df_pdrb['nama_prov'].isin(nama_prov)][df_pdrb['nama_komp'].isin(nama_ntb)]

In [36]:
data1

,kode_prov,nama_prov,jenis_pdrb,kode_komp,nama_komp,nilai_jt
1938,11,Aceh,PENDAPATAN,2010,Kompensasi Tenaga Kerja,5.857996e+07
1939,11,Aceh,PENDAPATAN,2020,Surplus Usaha (termasuk pendapatan campuran) B...,7.553274e+07
1940,11,Aceh,PENDAPATAN,2045,Pajak Neto Subsidi Atas Produksi,4.418250e+05
1941,12,Sumatera Utara,PENDAPATAN,2010,Kompensasi Tenaga Kerja,2.196962e+08
1942,12,Sumatera Utara,PENDAPATAN,2020,Surplus Usaha (termasuk pendapatan campuran) B...,3.234644e+08
...,...,...,...,...,...,...
2035,91,Papua Barat,PENDAPATAN,2020,Surplus Usaha (termasuk pendapatan campuran) B...,4.698549e+07
2036,91,Papua Barat,PENDAPATAN,2045,Pajak Neto Subsidi Atas Produksi,-1.693586e+06
2037,94,Papua,PENDAPATAN,2010,Kompensasi Tenaga Kerja,4.246209e+07
2038,94,Papua,PENDAPATAN,2020,Surplus Usaha (termasuk pendapatan campuran) B...,1.030855e+08
2039,94,Papua,PENDAPATAN,2045,Pajak Neto Subsidi Atas Produksi,8.165378e+05

In [ ]:
import plotly.graph_objects as go
x = data1['nama_prov']

fig = go.Figure()
komps = data1['nama_komp'].unique()
for i in range(len(komps)):
    fig.add_trace(go.Bar(x=x, y=data1['nilai_jt'][data1['nama_komp'] == komps[i]], name=komps[i]))
fig.update_layout(barmode='stack', title_text='Relative Barmode')
fig.show()

## Nasional

In [7]:
df_pdrb_nasional = df_pdrb.groupby(['jenis_pdrb', 'nama_komp']).agg({"nilai_jt": "sum"}).reset_index()
df_pdrb_nasional

,jenis_pdrb,nama_komp,nilai_jt
0,PENDAPATAN,Kompensasi Tenaga Kerja,4.930685e+09
1,PENDAPATAN,Pajak Neto Subsidi Atas Produksi,5.643362e+08
2,PENDAPATAN,Surplus Usaha (termasuk pendapatan campuran) B...,7.150796e+09
3,PENGELUARAN,Konsumsi LNPRT,1.449447e+08
4,PENGELUARAN,Konsumsi Pemerintah,1.094181e+09
5,PENGELUARAN,Konsumsi Rumah Tangga,7.119909e+09
6,PENGELUARAN,Pembentukan Modal Tetap Bruto,4.139130e+09
7,PENGELUARAN,Perubahan Inventori,8.258896e+07
8,PRODUKSI,"Administrasi Pemerintahan, Pertahanan dan Jami...",4.294217e+08
9,PRODUKSI,Angkutan Darat,3.194297e+08
10,PRODUKSI,Angkutan Laut,4.028157e+07
11,PRODUKSI,Angkutan Rel,4.720516e+06
12,PRODUKSI,Angkutan Sungai Danau dan Penyeberangan,1.461181e+07
13,PRODUKSI,Angkutan Udara,1.875507e+08
14,PRODUKSI,Asuransi dan Dana Pensiun,8.492543e+07
15,PRODUKSI,Industri Alat Angkutan,2.896006e+08
16,PRODUKSI,Industri Barang Galian bukan Logam,1.138298e+08
17,PRODUKSI,"Industri Barang dari Logam, Komputer, Barang E...",2.678157e+08
18,PRODUKSI,Industri Batubara dan Pengilangan Migas,2.745357e+08
19,PRODUKSI,Industri Furnitur,4.099451e+07
20,PRODUKSI,"Industri Karet, Barang dari Karet dan Plastik",9.297105e+07
21,PRODUKSI,"Industri Kayu, Barang dari Kayu dan Gabus dan ...",7.881918e+07
22,PRODUKSI,"Industri Kertas dan Barang dari Kertas, Percet...",8.995890e+07
23,PRODUKSI,"Industri Kimia, Farmasi dan Obat Tradisional",2.528994e+08
24,PRODUKSI,"Industri Kulit, Barang dari Kulit dan Alas Kaki",5.947020e+07
25,PRODUKSI,Industri Logam Dasar,9.387733e+07
26,PRODUKSI,Industri Makanan dan Minuman,6.873928e+08
27,PRODUKSI,Industri Mesin dan Perlengkapan YTDL,1.188362e+08
28,PRODUKSI,"Industri Pengolahan Lainnya, Jasa Reparasi dan...",7.437192e+07
29,PRODUKSI,Industri Pengolahan Tembakau,2.780403e+08
30,PRODUKSI,Industri Tekstil dan Pakaian Jadi,1.569377e+08
31,PRODUKSI,Jasa Informasi dan Komunikasi,4.879129e+08
32,PRODUKSI,Jasa Kesehatan dan Kegiatan Sosial,1.540755e+08
33,PRODUKSI,Jasa Keuangan Lainnya,5.684667e+07
34,PRODUKSI,Jasa Lainnya,3.068132e+08
35,PRODUKSI,Jasa Pendidikan,4.120972e+08
36,PRODUKSI,Jasa Penunjang Keuangan,3.846913e+07
37,PRODUKSI,Jasa Perantara Keuangan Selain Bank Sentral,3.422956e+08
38,PRODUKSI,Jasa Pertanian dan Perburuan,1.873188e+07
39,PRODUKSI,Jasa Perusahaan,3.513998e+08
40,PRODUKSI,Kehutanan dan Penebangan Kayu,9.847809e+07
41,PRODUKSI,Ketenagalistrikan,5.812977e+07
42,PRODUKSI,Konstruksi,1.222940e+09
43,PRODUKSI,"Pengadaan Air, Pengelolaan Sampah, Limbah, dan...",1.849317e+07
44,PRODUKSI,Pengadaan Gas dan Produksi Es,2.731078e+07
45,PRODUKSI,Penyediaan Akomodasi,9.842778e+07
46,PRODUKSI,Penyediaan Makan Minum,3.692594e+08
47,PRODUKSI,"Perdagangan Besar dan Eceran, Bukan Mobil dan ...",1.358541e+09
48,PRODUKSI,"Perdagangan Mobil, Sepeda Motor dan Reparasinya",3.214892e+08
49,PRODUKSI,"Pergudangan dan Jasa Penunjang Angkutan, Pos d...",1.184256e+08
50,PRODUKSI,Perikanan,2.773105e+08
51,PRODUKSI,Perkebunan Semusim dan Tahunan,3.830270e+08
52,PRODUKSI,Pertambangan Batubara dan Lignit,2.258294e+08
53,PRODUKSI,Pertambangan Bijih Logam,8.755711e+07
54,PRODUKSI,"Pertambangan Minyak, Gas dan Panas Bumi",2.991956e+08
55,PRODUKSI,Pertambangan dan Penggalian Lainnya,1.826380e+08
56,PRODUKSI,"Pertanian Tanaman Hortikultura Semusim, Hortik...",2.120190e+08
57,PRODUKSI,Pertanian Tanaman Pangan,2.869808e+08
58,PRODUKSI,Peternakan,1.952136e+08
59,PRODUKSI,Real Estate,5.846180e+08

In [14]:
df_pdrb_nasional[df_pdrb_nasional['jenis_pdrb'] == 'PENDAPATAN']

   jenis_pdrb                                          nama_komp      nilai_jt
0  PENDAPATAN                            Kompensasi Tenaga Kerja  4.930685e+09
1  PENDAPATAN                   Pajak Neto Subsidi Atas Produksi  5.643362e+08
2  PENDAPATAN  Surplus Usaha (termasuk pendapatan campuran) B...  7.150796e+09

## Data Mas Alfa Bapuk

In [1]:
import pyreadr as pr

In [3]:
df_eksim = pr.read_r('data/data_eksim_ap.rds')[None]
df_eksim

,kode_prov_eks,nama_prov_eks,kode_prov_imp,nama_prov_imp,kode_ind_eks,nama_ind_eks,penggunaan,nilai_mil
0,11,Aceh,12,Sumatera Utara,I-01,Pertanian Tanaman Pangan,Bahan Baku,2795.198690
1,11,Aceh,12,Sumatera Utara,I-02,"Pertanian Tanaman Hortikultura Semusim, Hortik...",Bahan Baku,554.804429
2,11,Aceh,12,Sumatera Utara,I-03,Perkebunan Semusim dan Tahunan,Bahan Baku,4152.681979
3,11,Aceh,12,Sumatera Utara,I-04,Peternakan,Bahan Baku,37.026464
4,11,Aceh,12,Sumatera Utara,I-05,Jasa Pertanian dan Perburuan,Bahan Baku,0.000000
...,...,...,...,...,...,...,...,...
116683,94,Papua,91,Papua Barat,I-48,Jasa Perusahaan,Konsumsi Akhir,0.046562
116684,94,Papua,91,Papua Barat,I-49,"Administrasi Pemerintahan, Pertahanan dan Jami...",Konsumsi Akhir,0.000000
116685,94,Papua,91,Papua Barat,I-50,Jasa Pendidikan,Konsumsi Akhir,0.024069
116686,94,Papua,91,Papua Barat,I-51,Jasa Kesehatan dan Kegiatan Sosial,Konsumsi Akhir,0.003501
116687,94,Papua,91,Papua Barat,I-52,Jasa Lainnya,Konsumsi Akhir,1.217583

In [8]:
# PROV - Ekspor Antar Provinsi
(df_eksim[df_eksim['nama_prov_eks'] == 'Aceh']
         .groupby('nama_prov_imp', as_index=False)
         .agg(nilai_mil=('nilai_mil', 'sum'))
         .assign(kode_prov=lambda x: x['nama_prov_imp']))

# PROV - Impor Antar Provinsi
(df_eksim[df_eksim['nama_prov_imp'] == 'Aceh']
         .groupby('nama_prov_eks', as_index=False)
         .agg(nilai_mil=('nilai_mil', 'sum'))
         .assign(kode_prov=lambda x: x['nama_prov_eks']))

# PROV - Net Ekspor
nilai = (df_eksim[df_eksim['nama_prov_eks'] == 'Aceh']
         .groupby('nama_prov_imp', as_index=False)
         .agg(nilai_mil=('nilai_mil', 'sum'))
         .assign(kode_prov=lambda x: x['nama_prov_imp']))

# Second part: filtering, grouping, and summarising
nilai_im = (df_eksim[df_eksim['nama_prov_imp'] == 'Aceh']
            .groupby('nama_prov_eks', as_index=False)
            .agg(nilai_mil=('nilai_mil', 'sum'))
            .assign(kode_prov=lambda x: x['nama_prov_eks']))

# Assuming 'nilai' and 'nilai_im' have the same 'kode_prov' values and are sorted in the same order
nilai['nilai_mil'] = nilai['nilai_mil'] - nilai_im['nilai_mil']
nilai

           nama_prov_imp     nilai_mil             kode_prov
0                   Bali  -1211.072992                  Bali
1                 Banten  -3114.099816                Banten
2               Bengkulu    206.636250              Bengkulu
3          DI Yogyakarta  -1466.040372         DI Yogyakarta
4            DKI Jakarta -13606.098405           DKI Jakarta
5              Gorontalo      3.633250             Gorontalo
6                  Jambi   -473.637920                 Jambi
7             Jawa Barat  -3798.351989            Jawa Barat
8            Jawa Tengah -11371.756768           Jawa Tengah
9             Jawa Timur  -2312.672462            Jawa Timur
10      Kalimantan Barat   -221.437892      Kalimantan Barat
11    Kalimantan Selatan     20.295358    Kalimantan Selatan
12     Kalimantan Tengah      3.322033     Kalimantan Tengah
13      Kalimantan Timur    -18.056408      Kalimantan Timur
14      Kalimantan Utara     -1.320225      Kalimantan Utara
15  Kep. Bangka Belitung      5.192279  Kep. Bangka Belitung
16             Kep. Riau   -169.434568             Kep. Riau
17               Lampung   -779.075848               Lampung
18                Maluku     26.029385                Maluku
19          Maluku Utara     10.505665          Maluku Utara
20   Nusa Tenggara Barat   -101.196559   Nusa Tenggara Barat
21   Nusa Tenggara Timur    -18.179650   Nusa Tenggara Timur
22                 Papua     30.232280                 Papua
23           Papua Barat     32.772886           Papua Barat
24                  Riau  -8249.347284                  Riau
25        Sulawesi Barat     16.229523        Sulawesi Barat
26      Sulawesi Selatan   -510.535529      Sulawesi Selatan
27       Sulawesi Tengah     28.418130       Sulawesi Tengah
28     Sulawesi Tenggara      9.380661     Sulawesi Tenggara
29        Sulawesi Utara    -78.988180        Sulawesi Utara
30        Sumatera Barat    192.381636        Sumatera Barat
31      Sumatera Selatan   -940.477703      Sumatera Selatan
32        Sumatera Utara   4768.172165        Sumatera Utara

In [12]:
f_data = (df_eksim[df_eksim['nama_prov_eks'] == 'Aceh']
          .sort_values(by=['kode_prov_eks', 'nama_prov_eks', 
                           'kode_prov_imp', 'nama_prov_imp',
                           'kode_ind_eks', 'nama_ind_eks',
                           'penggunaan']))
data_imp = (df_eksim[df_eksim['nama_prov_imp'] == 'Aceh']
            .sort_values(by=['kode_prov_imp', 'nama_prov_imp', 
                             'kode_prov_eks', 'nama_prov_eks',
                             'kode_ind_eks', 'nama_ind_eks',
                             'penggunaan']))
f_data['nilai_mil'] = f_data['nilai_mil'].values - data_imp['nilai_mil'].values
f_data

,kode_prov_eks,nama_prov_eks,kode_prov_imp,nama_prov_imp,kode_ind_eks,nama_ind_eks,penggunaan,nilai_mil
0,11,Aceh,12,Sumatera Utara,I-01,Pertanian Tanaman Pangan,Bahan Baku,2766.892005
58344,11,Aceh,12,Sumatera Utara,I-01,Pertanian Tanaman Pangan,Konsumsi Akhir,84.714528
1,11,Aceh,12,Sumatera Utara,I-02,"Pertanian Tanaman Hortikultura Semusim, Hortik...",Bahan Baku,553.372930
58345,11,Aceh,12,Sumatera Utara,I-02,"Pertanian Tanaman Hortikultura Semusim, Hortik...",Konsumsi Akhir,805.433593
2,11,Aceh,12,Sumatera Utara,I-03,Perkebunan Semusim dan Tahunan,Bahan Baku,3815.450629
...,...,...,...,...,...,...,...,...
60057,11,Aceh,94,Papua,I-50,Jasa Pendidikan,Konsumsi Akhir,0.544112
1714,11,Aceh,94,Papua,I-51,Jasa Kesehatan dan Kegiatan Sosial,Bahan Baku,0.096759
60058,11,Aceh,94,Papua,I-51,Jasa Kesehatan dan Kegiatan Sosial,Konsumsi Akhir,3.220867
1715,11,Aceh,94,Papua,I-52,Jasa Lainnya,Bahan Baku,0.055340
60059,11,Aceh,94,Papua,I-52,Jasa Lainnya,Konsumsi Akhir,0.207233

## Indonesia Map

In [13]:
import requests
geojson = requests.get(
    #"https://raw.githubusercontent.com/superpikar/indonesia-geojson/master/indonesia-province-simple.json"
    #"https://raw.githubusercontent.com/ans-4175/peta-indonesia-geojson/master/indonesia-prov.geojson"
    #"https://raw.githubusercontent.com/Vizzuality/growasia_calculator/master/public/indonesia.geojson"
    "https://raw.githubusercontent.com/superpikar/indonesia-geojson/master/indonesia.geojson"
).json()

In [21]:
type(geojson)

dict

In [14]:
import pandas as pd 
df = pd.DataFrame(
    {"Column": pd.json_normalize(geojson["features"])["properties.state"]}
).assign(Columnnext=lambda d: d["Column"].str.len())

In [20]:
df['Column'].unique()

array(['Aceh', 'Sumatera Barat', 'Yogyakarta', 'Sumatera Utara',
       'Bangka-Belitung', 'Papua Barat', 'Jawa Timur', 'Kalimantan Barat',
       'Kalimantan Selatan', 'Kalimantan Timur', 'Kepulauan Riau',
       'Lampung', 'Maluku', 'Maluku Utara', 'Nusa Tenggara Barat',
       'Nusa Tenggara Timur', 'Papua', 'Riau', 'Sulawesi Selatan',
       'Bengkulu', 'Sulawesi Tengah', 'Sulawesi Utara',
       'Sulawesi Tenggara', 'Bali', 'Banten', 'Gorontalo', 'Jakarta Raya',
       'Jambi', 'Jawa Barat', 'Jawa Tengah', 'Kalimantan Tengah',
       'Sulawesi Barat', 'Sumatera Selatan', 'Kalimantan Utara'],
      dtype=object)

In [18]:
df_eksim['nama_prov_eks'].unique()

array(['Aceh', 'Sumatera Utara', 'Sumatera Barat', 'Riau', 'Jambi',
       'Sumatera Selatan', 'Bengkulu', 'Lampung', 'Kep. Bangka Belitung',
       'Kep. Riau', 'DKI Jakarta', 'Jawa Barat', 'Jawa Tengah',
       'DI Yogyakarta', 'Jawa Timur', 'Banten', 'Bali',
       'Nusa Tenggara Barat', 'Nusa Tenggara Timur', 'Kalimantan Barat',
       'Kalimantan Tengah', 'Kalimantan Selatan', 'Kalimantan Timur',
       'Kalimantan Utara', 'Sulawesi Utara', 'Sulawesi Tengah',
       'Sulawesi Selatan', 'Sulawesi Tenggara', 'Gorontalo',
       'Sulawesi Barat', 'Maluku', 'Maluku Utara', 'Papua Barat', 'Papua'],
      dtype=object)

In [46]:
d_find_and_replace['Kepulauan Riau']

'Kep. Riau'

In [47]:
d_find_and_replace = {'Bangka-Belitung' : 'Kep. Bangka Belitung', 
                      'Kepulauan Riau' : 'Kep. Riau', 
                      'Jakarta Raya' : 'DKI Jakarta',
                      'Yogyakarta' : 'DI Yogyakarta'}

keys_replace = d_find_and_replace.keys()
for i in range(0, 34):
    for bef in d_find_and_replace.keys():
        if geojson['features'][i]['properties']['state'] == bef:
            geojson['features'][i]['properties']['state'] = d_find_and_replace[bef]


# for key in geojson.keys():
#     for i, val in enumerate(geojson[key], 0):
#         if val in keys_replace:
#             index_to_replace = keys_replace.index(val)
#             geojson[key][i] = d_find_and_replace[keys_replace[index_to_replace]]

In [48]:
for i in range(0,34):
    print(geojson['features'][i]['properties']['state'])

Aceh
Sumatera Barat
DI Yogyakarta
Sumatera Utara
Kep. Bangka Belitung
Papua Barat
Jawa Timur
Kalimantan Barat
Kalimantan Selatan
Kalimantan Timur
Kep. Riau
Lampung
Maluku
Maluku Utara
Nusa Tenggara Barat
Nusa Tenggara Timur
Papua
Riau
Sulawesi Selatan
Bengkulu
Sulawesi Tengah
Sulawesi Utara
Sulawesi Tenggara
Bali
Banten
Gorontalo
DKI Jakarta
Jambi
Jawa Barat
Jawa Tengah
Kalimantan Tengah
Sulawesi Barat
Sumatera Selatan
Kalimantan Utara

In [49]:
df = pd.DataFrame(
    {"Column": pd.json_normalize(geojson["features"])["properties.state"]}
).assign(Columnnext=lambda d: d["Column"].str.len())
df

                  Column  Columnnext
0                   Aceh           4
1         Sumatera Barat          14
2          DI Yogyakarta          13
3         Sumatera Utara          14
4   Kep. Bangka Belitung          20
5            Papua Barat          11
6             Jawa Timur          10
7       Kalimantan Barat          16
8     Kalimantan Selatan          18
9       Kalimantan Timur          16
10             Kep. Riau           9
11               Lampung           7
12                Maluku           6
13          Maluku Utara          12
14   Nusa Tenggara Barat          19
15   Nusa Tenggara Timur          19
16                 Papua           5
17                  Riau           4
18      Sulawesi Selatan          16
19              Bengkulu           8
20       Sulawesi Tengah          15
21        Sulawesi Utara          14
22     Sulawesi Tenggara          17
23                  Bali           4
24                Banten           6
25             Gorontalo           9
26           DKI Jakarta          11
27                 Jambi           5
28            Jawa Barat          10
29           Jawa Tengah          11
30     Kalimantan Tengah          17
31        Sulawesi Barat          14
32      Sumatera Selatan          16
33      Kalimantan Utara          16

In [50]:
type(geojson)

dict

In [52]:
values = (df_eksim[df_eksim['nama_prov_eks'] == 'Aceh']
         .groupby('nama_prov_imp', as_index=False)
         .agg(nilai_mil=('nilai_mil', 'sum'))
         .assign(kode_prov=lambda x: x['nama_prov_imp']))
values

           nama_prov_imp     nilai_mil             kode_prov
0                   Bali     87.066210                  Bali
1                 Banten    477.948569                Banten
2               Bengkulu    321.323349              Bengkulu
3          DI Yogyakarta    101.219739         DI Yogyakarta
4            DKI Jakarta   4032.262817           DKI Jakarta
5              Gorontalo     29.550971             Gorontalo
6                  Jambi    206.188524                 Jambi
7             Jawa Barat   1366.517863            Jawa Barat
8            Jawa Tengah    899.014298           Jawa Tengah
9             Jawa Timur    395.559907            Jawa Timur
10      Kalimantan Barat     54.850496      Kalimantan Barat
11    Kalimantan Selatan    108.988134    Kalimantan Selatan
12     Kalimantan Tengah    140.058179     Kalimantan Tengah
13      Kalimantan Timur    160.323502      Kalimantan Timur
14      Kalimantan Utara     35.780771      Kalimantan Utara
15  Kep. Bangka Belitung     23.378182  Kep. Bangka Belitung
16             Kep. Riau    272.821984             Kep. Riau
17               Lampung     81.723183               Lampung
18                Maluku     74.394067                Maluku
19          Maluku Utara     26.958597          Maluku Utara
20   Nusa Tenggara Barat     31.354520   Nusa Tenggara Barat
21   Nusa Tenggara Timur     58.056299   Nusa Tenggara Timur
22                 Papua     86.117534                 Papua
23           Papua Barat     68.695585           Papua Barat
24                  Riau    863.536216                  Riau
25        Sulawesi Barat     21.416747        Sulawesi Barat
26      Sulawesi Selatan    117.175292      Sulawesi Selatan
27       Sulawesi Tengah    120.433133       Sulawesi Tengah
28     Sulawesi Tenggara     57.805544     Sulawesi Tenggara
29        Sulawesi Utara     42.723330        Sulawesi Utara
30        Sumatera Barat   2034.962880        Sumatera Barat
31      Sumatera Selatan    712.999118      Sumatera Selatan
32        Sumatera Utara  18880.314800        Sumatera Utara

In [61]:
df2 = df.merge(values, left_on='Column', right_on='nama_prov_imp')

,Column,Columnnext,nama_prov_imp,nilai_mil,kode_prov
0,Sumatera Barat,14,Sumatera Barat,2034.962880,Sumatera Barat
1,DI Yogyakarta,13,DI Yogyakarta,101.219739,DI Yogyakarta
2,Sumatera Utara,14,Sumatera Utara,18880.314800,Sumatera Utara
3,Kep. Bangka Belitung,20,Kep. Bangka Belitung,23.378182,Kep. Bangka Belitung
4,Papua Barat,11,Papua Barat,68.695585,Papua Barat
5,Jawa Timur,10,Jawa Timur,395.559907,Jawa Timur
6,Kalimantan Barat,16,Kalimantan Barat,54.850496,Kalimantan Barat
7,Kalimantan Selatan,18,Kalimantan Selatan,108.988134,Kalimantan Selatan
8,Kalimantan Timur,16,Kalimantan Timur,160.323502,Kalimantan Timur
9,Kep. Riau,9,Kep. Riau,272.821984,Kep. Riau
10,Lampung,7,Lampung,81.723183,Lampung
11,Maluku,6,Maluku,74.394067,Maluku
12,Maluku Utara,12,Maluku Utara,26.958597,Maluku Utara
13,Nusa Tenggara Barat,19,Nusa Tenggara Barat,31.354520,Nusa Tenggara Barat
14,Nusa Tenggara Timur,19,Nusa Tenggara Timur,58.056299,Nusa Tenggara Timur
15,Papua,5,Papua,86.117534,Papua
16,Riau,4,Riau,863.536216,Riau
17,Sulawesi Selatan,16,Sulawesi Selatan,117.175292,Sulawesi Selatan
18,Bengkulu,8,Bengkulu,321.323349,Bengkulu
19,Sulawesi Tengah,15,Sulawesi Tengah,120.433133,Sulawesi Tengah
20,Sulawesi Utara,14,Sulawesi Utara,42.723330,Sulawesi Utara
21,Sulawesi Tenggara,17,Sulawesi Tenggara,57.805544,Sulawesi Tenggara
22,Bali,4,Bali,87.066210,Bali
23,Banten,6,Banten,477.948569,Banten
24,Gorontalo,9,Gorontalo,29.550971,Gorontalo
25,DKI Jakarta,11,DKI Jakarta,4032.262817,DKI Jakarta
26,Jambi,5,Jambi,206.188524,Jambi
27,Jawa Barat,10,Jawa Barat,1366.517863,Jawa Barat
28,Jawa Tengah,11,Jawa Tengah,899.014298,Jawa Tengah
29,Kalimantan Tengah,17,Kalimantan Tengah,140.058179,Kalimantan Tengah
30,Sulawesi Barat,14,Sulawesi Barat,21.416747,Sulawesi Barat
31,Sumatera Selatan,16,Sumatera Selatan,712.999118,Sumatera Selatan
32,Kalimantan Utara,16,Kalimantan Utara,35.780771,Kalimantan Utara